<div class="card-theme">
  <img src="https://france3-regions.francetvinfo.fr/provence-alpes-cote-d-azur/sites/regions_france3/files/styles/top_big/public/assets/images/2017/08/28/757x468_cigarettebutt_58ae9b0a01e6b_1-3230063.jpg?itok=13CioqIg">
  <div class="card-theme-infos">
    <h2><%= theme.name %></h2>
    <p><%= theme.content %></p>
  </div>
  <div class="card-theme-score">
    <p>61</p>
    <hr class="scope bar">
    <hr class="impact bar">
  </div>
</div>
