<div class="card-theme">
  <img src="<%= cl_image_path(theme.photo) %>">
  <div class="card-theme-infos">
    <h2><%= theme.name %></h2>
    <p><%= theme.content %></p>
  </div>
  <div class="card-theme-score">
    <p>61</p>
    <hr class="scope bar">
    <hr class="impact bar">
  </div>
</div>
