// Define variables for your color scheme

// france forward color schemes:

// two main colors
$red: #D0021B;
$blue: #4A90E2;

// 4 secondary colors
$light-blue: #76BED0;
$orange: #F26157;
$purple: #926CDA;
$green: #60A561;

// greyscale
$black: #000000;
$dark-gray: #616668;
$gray: #9B9B9B;
$light-gray: #F0F0F0;
$white: #FFFFFF;
