// Import Google fonts (& other external sources)
// @import url("https://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Raleway:400,100,300,700,500");
// @import url(http://fr.allfont.net/allfont.css?fonts=futura-normal);

// To use a font file (.woff) uncomment following lines
@font-face {
  font-family: "Avenir";
  src: font-url('Avenir/AvenirMedium.eot');
  src: font-url('Avenir/AvenirMedium.eot?#iefix') format('embedded-opentype'),
       font-url('Avenir/AvenirMedium.woff') format('woff'),
       font-url('Avenir/AvenirMedium.ttf') format('truetype')
}

@font-face {
  font-family: "Futura";
  src: font-url('Futura/Futura_Book_font.ttf');
  // src: font-url('Avenir/AvenirMedium.eot?#iefix') format('embedded-opentype'),
  //      font-url('Avenir/AvenirMedium.woff') format('woff'),
  //      font-url('Avenir/AvenirMedium.ttf') format('truetype')
}

$Avenir: "Avenir";
$Futura: "Futura";

// Define fonts for body and headers
$body-font: $Avenir, "Montserrat", "sans-serif";
$headers-font: $Futura, $Avenir, "sans-serif";
// font-family: 'Futura-Normal', arial;
