<div class="container">
<p>Find me in app/views/themes/all.html.erb</p>

<% @categories.each do |category| %>

    <%= link_to category_path(category) do %>
      <%= render './components/category-card', category: category %>
    <% end %>


    <div class="row">

    <% category.themes.each do |theme| %>

      <div class="col-xs-12 col-sm-12 col-md-6">
        <%= link_to category_theme_path(theme.category.id, theme) do %>
          <%= render './components/theme-card', theme: theme %>
        <% end %>
      </div>

    <% end %>

  </div>

<% end %>
</div>
