<h1>Conversations#index</h1>
<p>Find me in app/views/conversations/index.html.erb</p>

<div class="ui segment">
  <h3>Mailbox</h3>

  <div class="ui list">
    <div class="item">
      <% @conversations.each do |conversation| %>
        <% if conversation.user1_id == current_user.id || conversation.user2_id == current_user.id %>
          <% if conversation.user1_id == current_user.id %>
            <% user2 = User.find(conversation.user2_id) %>
          <% else %>
            <% user2 = User.find(conversation.user1_id) %>
          <% end %>
          <%= link_to user2.first_name, conversation_messages_path(conversation)%>
        <% end %>
      <% end %>
    </div>
  </div>
</div>


<div class="ui segment">
  <h3>All Users</h3>
  <div class="ui list">
    <% @users.each do |user| %>
      <% if user.id != current_user.id %>
      <div class="item">
        <%= user.first_name %> <%= link_to 'Message me!', conversations_path(user1_id: current_user.id, user2_id: user.id), method: 'post'%>
      </div>
      <% end %>
    <% end %>
  </div>
