<h1>Description#show</h1>
<p>Find me in app/views/description/show.html.erb</p>
<%= @description.theme.category.name %> <br>
<%= @description.theme.name %> <br>
<%#= @description.content.html_safe %>
<%= sanitize @description.content %>
