// Import your layouts CSS files here.
// Examples:
// @import "dashboard";
// @import "profile";
// @import "map";

.page-container {
  min-height: 100vh;
}

body {
  color: $black;
}

h1, h2, h3, h4 {
  font-weight: bold;
}

a {
  color: $black !important;
  text-decoration: none !important;
}

a:hover {
  color: $orange !important;
}
