<div id="main-banner" class="darken-overlay">
  <div class="darken-overlay">
      <div class="main-banner-container">
        <div class="wrapper">

          <h1>Comprendre, échanger et agir sur les enjeux de société</h1><br>

          </div>
        </div>
      </div>
  </div>
</div>

<%= link_to "see all themes", themes_path, class: "btn btn-primary" %>
<%= link_to "end session", categories_path, class: "btn btn-danger" %>
<%= link_to "see all themes", themes_path, class: "btn btn-primary btn-empty" %>
<%= link_to "end session", categories_path, class: "btn btn-danger btn-empty" %>

<div class="tag tag-primary">tag 1</div>
<div class="tag tag-success">tag 2</div>
<div class="tag tag-info">tag 3</div>
<div class="tag tag-warning">tag 4</div>

<div class="container">
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('https://images.unsplash.com/photo-1522735338363-cc7313be0ae0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3289&q=80>')">
    Environnement
  </div> <br><br>
</div>
