<div id="main-banner" class="darken-overlay">
  <div class="darken-overlay">
      <div class="main-banner-container">
        <div class="wrapper">

          <h1>Comprendre, échanger et agir sur les enjeux de société</h1><br>

        </div>
      </div>
    </div>
</div>


<div class="container">
  <h1>Front-End Helper</h1>
  <h2>UI components</h2>

  <h3>Buttons and tags</h3>

  <h4>buttons</h4>
  <div class="text-center">
  <%= link_to "see all themes", themes_path, class: "btn btn-primary" %>
  <%= link_to "see all categories", categories_path, class: "btn btn-danger" %>
  <%= link_to "see all themes", themes_path, class: "btn btn-primary btn-empty" %>
  <%= link_to "see all categories", categories_path, class: "btn btn-danger btn-empty" %>
  </div>
  <h4>tags</h4>
  <div class="tag tag-primary">tag 1</div>
  <div class="tag tag-success">tag 2</div>
  <div class="tag tag-info">tag 3</div>
  <div class="tag tag-warning">tag 4</div>

  <h3>Cards</h3>

  <h4>categories card</h4>
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('https://images.unsplash.com/photo-1522735338363-cc7313be0ae0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3289&q=80>')">
    Environnement
  </div> <br> <br>
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('https://images.unsplash.com/photo-1505751172876-fa1923c5c528?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2250&q=80')">
    Santé
  </div> <br> <br>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('https://images.unsplash.com/photo-1549315885-79e43ca216ee?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3289&q=80')">
    Sécurité
  </div>

  <br><br>



  <h4>theme card</h4>
  <div class="row">

    <div class="col-xs-12 col-sm-12 col-md-6">
      <div class="card-theme">
        <img src="https://france3-regions.francetvinfo.fr/provence-alpes-cote-d-azur/sites/regions_france3/files/styles/top_big/public/assets/images/2017/08/28/757x468_cigarettebutt_58ae9b0a01e6b_1-3230063.jpg?itok=13CioqIg">
        <div class="card-theme-infos">
          <h2>Tabagisme</h2>
          <p>theme description with <strong>relevant info</strong> only.</p>
        </div>
        <div class="card-theme-score">
          <p>61</p>
          <hr class="scope bar">
          <hr class="impact bar">
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-6">
      <div class="card-theme">
        <img src="https://img.huffingtonpost.com/asset/5bbdee731f000040022593fb.jpeg">
        <div class="card-theme-infos">
          <h2>Racisme</h2>
          <p>theme description with <strong>relevant info</strong> only.</p>
        </div>
        <div class="card-theme-score">
          <p>54</p>
          <hr class="scope bar">
          <hr class="impact bar">
        </div>
      </div><br>

    </div><br>

    <h4>action card</h4>

      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4">


          <div class="card-action">
            <img src="https://st3.depositphotos.com/1518767/14154/i/1600/depositphotos_141547948-stock-photo-team-of-volunteers-picking-up.jpg">
            <div class="card-action-infos">
              <div>
                <h2>Ramasser des déchets</h2>
                <p>proposé par Gérard</p>
                <span class="tag tag-info">continue</span>
                <span class="tag tag-success">facile</span>
              </div>
              <img src='https://amp.businessinsider.com/images/5899ffcf6e09a897008b5c04-750-750.jpg' class="card-action-user avatar-bordered"/>
              <ul class="card-action-details">
                <li><i class="fas fa-map-marker-alt"></i> Boulogne-Billancourt</li>
                <li><i class="far fa-clock"></i> 04/03/2019</li>
                <li><i class="fas fa-walking"></i> 26</li>
              </ul>
            </div>
          </div>

        </div>

        <div class="col-xs-12 col-sm-6 col-md-4">


          <div class="card-action">
            <img src="https://st3.depositphotos.com/1518767/14154/i/1600/depositphotos_141547948-stock-photo-team-of-volunteers-picking-up.jpg">
            <div class="card-action-infos">
              <div>
                <h2>Ramasser des déchets</h2>
                <p>proposé par UNICEF</p>
                <span class="tag tag-success">facile</span>
                <span class="tag tag-primary">extérieur</span>
                <span class="tag tag-info">continue</span>
              </div>
              <img src='https://ceowatermandate.org/wp-content/uploads/2017/08/UNICEF-logo.jpg' class="card-action-user avatar-bordered"/>
              <ul class="card-action-details">
                <li><i class="fas fa-map-marker-alt"></i> Lyon Part-Dieu</li>
                <li><i class="far fa-clock"></i> fin: 06/03/2019</li>
                <li><i class="fas fa-walking"></i> 26</li>
              </ul>
            </div>
          </div>

        </div>

        <div class="col-xs-12 col-sm-6 col-md-4">


          <div class="card-action">
            <img src="https://st3.depositphotos.com/1518767/14154/i/1600/depositphotos_141547948-stock-photo-team-of-volunteers-picking-up.jpg">
            <div class="card-action-infos">
              <div>
                <h2>Ramasser des déchets</h2>
                <p>proposé par République Française</p>
                <span class="tag tag-info">continue</span>
                <span class="tag tag-warning">groupe</span>
              </div>
              <img src='https://upload.wikimedia.org/wikipedia/commons/thumb/0/00/French-roundel.svg/1200px-French-roundel.svg.png' class="card-action-user avatar-bordered"/>
              <ul class="card-action-details">
                <li><i class="fas fa-map-marker-alt"></i> Saint-Étienne du Grès</li>
                <li><i class="far fa-clock"></i> fin: 04/03/2019</li>
                <li><i class="fas fa-walking"></i> 26 participants</li>
              </ul>
            </div>
          </div><br>

        </div>

      </div>

      <h4> Discussions </h4>

      <h5>Si c'est ma propre discussion</h5>
      <div class="discussion">
        <img src='https://kitt.lewagon.com/placeholder/users/arthur-littm' class="avatar-large"/>
        <div class="discussion-content">
          <p><small>Je ne suis pas du tout d'accord</small></p>
          <p>C'est absolument n'importe quoi, je ne suis pas <strong>du tout</strong> d'accord.</p>
        </div>

        <div class="discussion-actions">
          <a href="#">Edit <i class="fas fa-pencil-alt"></i></a>
          <a href="#">Delete <i class="far fa-trash-alt"></i></a>
        </div>

        <div class="discussion-votes">
          <p> <strong>24</strong> votes</p>
        </div>
      </div>

      <h5>Si c'est pas ma propre discussion et que j'ai pas upvoté</h5>
      <div class="discussion">
        <img src='https://kitt.lewagon.com/placeholder/users/Eschults' class="avatar-large"/>
        <div class="discussion-content">
          <p><small>Comment j'ai arrêté de fumer</small></p>
          <p>Il y a quelques années, je pensais que je fumerai <strong>toute ma vie</strong> et pourtant...</p>
        </div>

<!--         <div class="discussion-actions">
          <a href="#">Edit <i class="fas fa-pencil-alt"></i></a>
          <a href="#">Delete <i class="far fa-trash-alt"></i></a>
        </div> -->

        <div class="discussion-votes">
          <p><i class="fas fa-caret-up"></i> <strong>73</strong> votes</p>
        </div>
      </div>

      <h5>Si c'est pas ma propre discussion et que j'ai déjà upvoté</h5>
      <div class="discussion">
        <img src='https://content-static.upwork.com/uploads/2014/10/01073427/profilephoto1.jpg' class="avatar-large"/>
        <div class="discussion-content">
          <p><small>Comment j'ai arrêté de fumer</small></p>
          <p>Il y a quelques années, je pensais que je fumerai <strong>toute ma vie</strong> et pourtant...</p>
        </div>

<!--         <div class="discussion-actions">
          <a href="#">Edit <i class="fas fa-pencil-alt"></i></a>
          <a href="#">Delete <i class="far fa-trash-alt"></i></a>
        </div> -->

        <div class="discussion-votes">
          <p><i class="fas fa-caret-up" style="color: #9B9B9B"></i> <strong>36</strong> votes</p>
        </div>
      </div>

 </div>
