<div id="main-banner" class="darken-overlay">
  <div class="darken-overlay">
      <div class="main-banner-container">
        <div class="wrapper">

          <h1>Comprendre, échanger et agir sur les enjeux de société</h1><br>

          </div>
        </div>
      </div>
  </div>
</div>


<p>Find me in app/views/pages/home.html.erb</p>
<%= link_to "see all themes", themes_path %>
<%= link_to "see all categories", categories_path %>
<%= link_to "see all themes", themes_path, class: "btn btn-primary" %>
<%= link_to "end session", categories_path, class: "btn btn-danger" %>
