.btn:hover {
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  border: solid 1px black;
}

.btn-primary:hover {
  background-color: $blue;
}

.btn-danger:hover {
  background-color: $red;
}

.btn-primary {
  border-radius: 8px;
}
