/* Main navbar */
.navbar-ff {
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  transition: all 0.3s ease;
  height: 60px;
  padding: 0px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.navbar-ff-white {
  background: white;
}

/* Logo */
.navbar-ff-brand img {
  height: 20px;
  padding-right: 5px;
}

.navbar-ff-brand:hover {
  text-decoration: none;
}

/* User Avatar */
.navbar-ff .avatar {
  height: 25px;
  width: 25px;
  border-radius: 50%;
}

/* Right section */
.navbar-ff-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Basic navbar item */
.navbar-ff-item {
  cursor: pointer;
  padding: 0 20px;
}

/* Navbar link */
.navbar-ff-link {
  color: $dark-gray;
  font-size: 14px;
}
.navbar-ff-link:hover {
  color: $orange;
  text-decoration: none;
}

/* Dropdown menu */
.navbar-ff-dropdown-menu {
  margin-top: 15px;
  box-shadow: 1px 1px 4px $light-gray;
  border-color: $light-gray;
}
.navbar-ff-dropdown-menu li > a {
  transition: color 0.3s ease;
  font-weight: lighter !important;
  color: $gray !important;
  font-size: 15px !important;
  line-height: 22px !important;
  padding: 10px 20px;
}
.navbar-ff-dropdown-menu li > a:hover {
  background: transparent !important;
  color: black !important;
}
.navbar-ff-dropdown-menu:before {
  content: ' ';
  height: 10px;
  width: 10px;
  position: absolute;
  right: 10px;
  top: -6px;
  background-color: white;
  transform: rotate(45deg);
  border-left: 1px solid $light-gray;
  border-top: 1px solid $light-gray;
}
