<h1>Categories#index</h1>
<p>Find me in app/views/categories/index.html.erb</p>
<% @categories.each do |category| %>
  <%= link_to category_themes_path(category) do %>
    <%= category.name %>
    <% if category.photo.file %>
      <%= cl_image_tag category.photo, height: 300, width: 400, crop: :fill %>
    <% end %>
  <% end %>
  <br>
<% end %>
