<div class="container">
  <h1>Catégories</h1>
  <p>Cliquez sur une catégorie pour accéder aux thèmes !</p>
  <% @categories.each do |category| %>
    <%= link_to category_path(category) do %>
      <%= render './components/category-card', category: category %>
    <% end %>
  <% end %>
  <br>
</div>
